body {
text-align: center;
background-image: url(b2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
display: flex;
flex-direction: column;
}

#c1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
opacity: 0.4;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 40rem;
height: auto;
border: 5px solid rgb(252, 247, 248);
background-color: #ffb5b5;
border-radius: 20px;
margin-left: 40%;
margin-top: 10%;
}

#in {
font-size: 2em;
border-radius: 20px;
height: 1.5em;
width: auto;
}

#taskContainer {
display: flex;
flex-direction: column;
margin-top: 20px;
}


.task-row {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border:5px solid #b47b7b;
  height: auto;
  width: auto;
  border-radius: 20px;
}

.task-row input[type="checkbox"] {
  width: 1.5em; 
  height: 1.5em;
  margin-right:0.5em;
 
  
}

.task-row p {
  font-size: 1.5em; 
  margin: 0;
  margin-right: 20px; 
  flex: 1; 
  
}

.task-row button {
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  margin-right: 0;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background: #ffb5b5;
  color: #333;
  transition: background 0.2s;
}

.task-row button:hover {
  background: #ff7b7b;
}
#btn{
width: 60px;
height: 51px;
font-size: xx-large;
border-radius: 20px;
}
#btn:hover {
  background: #ff7b7b;

}
